{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/talhabin.alam/" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="facebook"></a></li>
        <li><a href="https://www.linkedin.com/in/talha-bin-alam-803057258/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="linkedin"></a></li>
        <li><a href="https://github.com/talhabinalam" target="_blank"><img src="{% static 'images/github.svg' %}" alt="github"></a></li>
        <li><a href="https://twitter.com/talhabinalam98" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="twitter"></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Developed by Talha-Bin-Alam</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->