{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

<!-- {% if messages %}
{% for message in messages %}
<div class="container">
  <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif  %}" role="alert">{{message}}</div>
</div>
{% endfor %}
{% endif %} -->

<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Contact me</h1>
          </div>

          <div class="container">
            <ul class="contactcol">
              <h4>Talha Bin Alam</h4>
              <div class="mb-2" style="font-size: 80%;"><small>Back-End Developer</small></div>
              <ul class="contact-list">
                <li><img src="{% static 'images/email.svg' %}" alt="email">&nbsp;&nbsp;mdtalhabinalam@gmail.com</li>
                <li><img src="{% static 'images/telephone.svg' %}" alt="phone">&nbsp;&nbsp;+880 1783-628206</li>
                <li><img src="{% static 'images/location.svg' %}" alt="location">&nbsp;&nbsp;Dhaka, Bangladesh</li>
            </ul>
            
            </ul>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <br>
        <form id="contactForm" method="POST" action="/contact/">
        {% csrf_token %}
            <label for="name">Name</label>
            {{form.name}}

            <label for="email">Email</label>
            {{form.email}}

            <label for="subject">Message</label>
            {{form.message}}

            <input class='mb-3 btn btnPrimary' type="submit" value="Submit">
        </form>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
<style>
  .contactcol li {
      display: inline-block;
      margin-right: 10px; 
      margin-bottom: 10px; 
  }

  .contactcol img {
      width: 20px; 
      height: 20px; 
  }

  .contactcol li a {
      font-size: 15px; 
  }

  .contact-list li {
    display: block;
}

</style>

{%endblock%}
    